<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    This project is a demo version of our idea. Idea is to creating a fast select and
    communication application with social programs of world. For example you wanna to help
    "Greenpeace", "Masason Foundation", "Wellcome Trust" or other, you'll can use this app to
    create donation to selected Foundation. And as a bonus you will see the rise of you "Karma"
    and can check your "Luck" by unique algorithm (ofcourse only as gaming stuff).
    We wanna see will this project intested for most people, and if we will found financial support
    of this idea, than we'll continue to develop this app and include Founds. Maybe we get luck and
    we will have a chence to make this world more perspective for live.
    If you have interest to develop charitable foundations, you can help us by donation for develop of this project.
  </ion-text>
  <ion-text>
    v2
    LuckMeter - it is a small demo application of big idea. Planned to concatenate a many social donation
    programs in one big storage and make possible create/send investments to program as wish. Without big money
    and communication with organizers, you can will help to save the endangered species of animals,
    or to help the children from low-income families go to college and become a worthy part of society,
    or many other helps. And all of this can by possible through a simple program.
    Note: It is a demo, and currently we collecting investments to continue develop of main functionality.
    P.S. Thanks to everyone who will take part in the development of our non-commercial idea. ;)
  </ion-text>
</ion-content>
