#highlight {
  outline: 4000px solid rgba(0,0,0,0.6);
  border: 3px solid red;
  border-radius: 6px;
  background-color:transparent;
  position: absolute;
}

.main-instruction {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
