<ion-content class="main">
  <ion-card>
    <ion-card-header>Terms of use</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-text>
          1. Owners and developers of this application are not responsible for the actions or health of users.
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text>
          2. You are a healthy person without psychological disorders.
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text>
          3. Your age allows you to gamble and manage finances in your area.
        </ion-text>
      </ion-item>
    </ion-card-content>
    <ion-card-subtitle>
      By clicking 'Accept' button, you agree with all the above points.
    </ion-card-subtitle>

    <ion-button style="float: right" color="success" (click)="goToHome()">Accept</ion-button>
  </ion-card>
</ion-content>
