<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
    <ion-card-subtitle style="text-align: center">Update every 3 sec.</ion-card-subtitle>
  </ion-card>

  <div>
    <app-paypal></app-paypal>
  </div>
</ion-content>
